@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');

/* Page */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto Mono', monospace;
    color: #ffffff;
}

li, a {
    text-decoration: none;
}

/* Nav bar */
#parent {
    position: fixed;
    width: 100%;
}
#header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #24252af8;
    padding: 30px 10%;
    transition: all 1s;
}
#nav-links li {
    display: inline;
    list-style-type: none;
    padding: 0px 40px;
}
#nav-links a:hover {
    text-decoration: underline;
}
#logo {
    font-size: 25px;
}

/* Home Screen */
#welcome-section {
    display: flex;
    background: url(https://lh3.googleusercontent.com/i8l5rak_k9JGQpJ8nn-N_vJB-RGLa_uBYGGSzzBjNVaXEeDmvljktQCtjzpkGHVLkn-TQ8m21mBTiwYwg_1K_4KAkai_YD9lDsqXgiDUCN9F-I5cxOJihVd5SWiktCicTuqvsffv59DUs15-EkJiq25kC97FublKw7JBtGq8zP3GdFuMd_NxuzZfHRNQOdKmM4R0MiHas06uV4V-jkAezHbRe8HCgfbmQW36Uf4Z0r7vXgpWd7bA8TV_jpd8176A7xW-Uk0g7fNpR98QbQtIzR0wIjRQXbdlEmAvCVuwm8xfW2dYAWjrOslY9rtKbvcIF_L5LN8YAMt6QjKJ95gcL_QkCFPjgUTHlAKS9K-DhasJMljjANrzKdytrbcjXipTyANNur0qcG87vpQ4SUD9sLQexoSuHrdRp1dSIGwtoNqDaA7XO7a7k1hp8zKFb0PgRU5uomkwbQoTAG7Wah9iwB2DsOa5RGu_h6XkcWfuBxj7K9mHaQ74164cY8EKtUooe5010FuQKAhnmREERg0Ol-Gkzpqjzt2zoBW_6b9NYf6y5nPrq_rinOyoRvQFnoPe1VL56TFxgFWyUHFoYXNjLcC5r8Eb2KwASw6DmtNSwLEzcMj-1oBGooOcneLl92nlVmjGeVnxapiuZYdQXDPcHhlsjTLhTvIqEuiBPVRIPLVKUQZPiwZS9haK1sM=w1622-h1216-no?authuser=0) no-repeat center;
    background-size: cover;
    height: 100vh;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    border-bottom: 10px solid#24252ae3;
}
#welcome-section {
    color: #24252a;
    font-size: 1.7vw;
}

#projects {
    display: grid;
    grid-template-columns: auto 28% 5% 28% 5% 28% auto;
    grid-template-rows: auto 28% 20% 28% auto;
    width: 80%;
    height: 100vh;
    margin: auto;
    background-color: #24252a;
}
#projects a {
    width: 100%;
    height: 100%;
    border: 4px solid white;
    border-radius: 1.7rem;
    transition: all .2s ease-in-out;
    background-size: cover;
}
#projects a:hover {
    transform: scale(1.1);
}
#projects h2 {
    grid-column: 4/span 1;
    grid-row: 1/2;
    margin: auto;
    font-size: 3rem;
}
#projects a h2 {
    font-size: 1.4em;
    margin-top: 21vh;
    width: 70%;
    text-align: center;
    color: #ffffff;
    background-color: #24252a;
    border: 3px solid #ffffff;
    border-radius: 4rem;
}
#landing-page {
    background: url(https://lh3.googleusercontent.com/LaAMXcoi405n7ONQLz6luTBLCZdst_td_UhvmD7ioJ-jvXyNnFr0SEoA_G8x-cSZWJ5u1mBph29zSCjRFD7S7WxBqtg7H3VNeTopFYXSBYIpx4W9_sPfH34qV8DAaH9MWiVIXg3Ia1wOkuWRfSUIdqAAwrlU4aUKl2axCV0xumHWL6ufndXiQ_zGqgPKW1mCNTnQjBpz-mrEfghoSLOCcCDnBxpVSzgsR6x-VkV53kAC21iT-oJZlYC9U976n8laUTycKivtCmyqz18V37wrqgAttWIlXloavI5nD1QXASJ2JBnvRzpgHjt_KHl1itEVV-wrCJGpWnuokwLgVHRwK4yXNyu8i2lC478u7ybtVzku3m8upyIj3W4R9qQ7_A0-B8EzNAOlovuG5MtLMGBv9XRdYprwm3h5sCE3MemT4Di15Zt1PjY-U6nhaWdRBRVPV5CMA25rEMF9UX76vq9Rn2MjAbMYXqPk5fmXns3nfjadGdY4DdxEbeIFwVXZVTBKQwMVQmcXEND2NAbl4yML89m_x0hnrE82oEyxoCHzj2ANcEDmL3GqgELuyyqPCHwbGHDVyg4cxMTw3aSj1OOj9djNidJmUQeZKT5KW0_tlUpexd8DUc0ynHqWg1hI4V7og-rQLrwXYhnPFfNlQpHTtjjjPeg_Q1s2tO0zn7irSWVcoDrYbT3Y8SmTKwQI=w1488-h838-no?authuser=0) no-repeat top;
    grid-column: 2/span 1;
    grid-row: 2/3;
}
#technical {
    background: url(https://lh3.googleusercontent.com/xJNp7hy_Ltb4QNiujs_9OPeNa5vqtgzpf9t-t3ajP1OXqsyf-s6ww2hD66qp-9IZ8tSia951x_AUPt895HS4kxdVkp3UrCaESVIjAwMTnX75q1vloF6q1MoGkAfnJ-5SxWdXlgCZA2RiYt9IYFt0Hrm_4UiovmMwdPq5tEsT_VP5HREyj7f5HChfW1UsZVsob6m-WIqwYBcex_X2qR2fKGLfB9_QKGC2BoV2O0W5dAmRH3oNI8v483so4EaOrVWaNC5o-uoydc7-8fMqn1X2URczNXSvmmx6r28yXsh9JvfFUPb6gRJOQHDIE775hPZbQ1wVWwoiXiiXtAvEqWw5CygU0l0H4Y4glGtjrthbx9TzWbpehuLBUyJXolulGWgDu4aeaIgqCis-K3kRg7F419q1mxgCaKKOvl9CoS2NVj8Hrj4MPWn9nWnSRCXaWbEeRP9HxsDoPLtCXBsZaWhLTviBOJnBOwIa9zE2vaViT7vZfLUa4CCdujPCS0GDSaYgd9ZX3RVd5inZwVmU-u6lq07p70v5jWeW7C3iAhsi4zaQhw9Fynyt9m2gkq3-NL1ZYYysUZiNwok9qh74Kzs16Gzy80nXRINjS2vcen67L2KRboCflWLzV6kWc20vNbH4q06CDi0fQgGgWP1PQ1t5mylig1GErbQKdIgPh8dyDryV3Seygeb0WXrBdBiJ=w1917-h936-no?authuser=0) no-repeat top;
    grid-column: 4/span 1;
    grid-row: 2/3;
} 
#a {
    grid-column: 6/span 1;
    grid-row: 2/3;
}
#b {
    grid-column: 2/span 1;
    grid-row: 4/5;
}
#c {
    grid-column: 4/span 1;
    grid-row: 4/5;
}
#d {
    grid-column: 6/span 1;
    grid-row: 4/5;
}

/* Footer */
footer {
    background-color: #24252ae3;
    display: block;
    text-align: center;
    margin: auto;
    height: 300px;
    font-size: 2rem;
    padding: 2.5rem;
}
#contacts {
    padding-top: 2rem;
    font-size: 1.4rem;
}



@media only screen and (max-width: 961px) and (min-width: 461px){
    #projects {
        display: grid;
        grid-template-columns: auto 40% 5% 40% auto;
        grid-template-rows: auto 25% 6% 25% 6% 25% auto;
    }
        #landing-page {
            grid-column: 2/span 1;
            grid-row: 2/3;
        }
        #technical {
            grid-column: 4/span 1;
            grid-row: 2/3;
        } 
        #a {
            grid-column: 2/span 1;
            grid-row: 4/5;
        }
        #b {
            grid-column: 4/span 1;
            grid-row: 4/5;
        }
        #c {
            grid-column: 2/span 1;
            grid-row: 6/7;
        }
        #d {
            grid-column: 4/span 1;
            grid-row: 6/7;
        }
        #projects>h2 {
            position: relative;
            left: -58%;
        }
    }
@media only screen and (max-width: 480px){
    #header {
        padding: 15px 0px;
    }
    #welcome-section {
        font-size: 1rem;
    }
    #projects {
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: auto;
        margin: 0px;
        width: 100%;
    }
    #projects a {
        width: 80%;
        margin: 20px auto;
    }
    #logo {
        padding: 0px 35px;
    }
    #nav-links li {
        display: block;
        line-height: 27px;
    }
    #welcome-section {
        background-position-x: -350px;
    }
    #welcome-section h1 {
        padding-top: 350px;
        width: 50%;
    }
    #contacts {
        padding: 20px 0px;
        width: 100%;
        margin: auto;
        font-size: 20px;
    }
    #profile-link {
        word-wrap: none;
    }
}
